include README.rst
include LICENSE.md

include RELIC-INFO
include relic/LICENSE.txt
include relic/README.md
recursive-include relic/relic *.py
recursive-include relic/relic.egg-info *
prune relic/build

recursive-include doc *

prune build
prune doc/build

global-exclude *.pyc *.o
