include distribute_setup.py ETCSERVER.BAT README.rst
include setup.cfg
graft pysynphot/data
graft doc
include pysynphot/test/pdk* pysynphot/test/*.doctest pysynphot/test/auto_test pysynphot/test/*.disable pysynphot/test/*.py
graft pysynphot/test/data
